* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
    padding: 5% 10%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(images/background.png);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    text-align: center;
    color: #cac7ff;
    margin-bottom: 30px;
}

    .header h1 {
        font-family: 'Montserrat', sans-serif;
    }

   


.blue-text {
    color: #286bc7;
}

.search-bar {
    width: 100%;
    max-width: 700px;
    margin-bottom: 30px;
    display: flex;
}

    .search-bar input {
        flex: 1;
        background: transparent; /* Remove background */
        border: none;
        border-bottom: 2px solid #286bc7;
        padding: 10px;
        font-size: 16px;
        color: #cac7ff;
        outline: none;
    }

    .search-bar button {
        width: 60px;
        height: 36px;
        background: #286bc7;
        border: none;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .search-bar button img {
            width: 20px;
            height: 20px;
        }

.search-results {
    width: 100%;
}

.result-item {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    color: #cac7ff; /* Text color */
}

    .result-item h2 {
        font-size: 24px;
        margin-bottom: 10px;

    }

    .result-item p {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .result-item cite {
        font-style: italic;
        color: #999999;
    }

