* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.header {
    text-align: center;
    color: #cac7ff;
    position: absolute;
    top: calc(50% - 150px); /* Adjust as needed */
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2; /* Ensure header stays above other content */
}

.container{
    width: 100%;
    min-height: 100vh;
    padding: 5%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(images/background.png);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative; /* Make the container position relative */
}

.search-bar{
    width: 100%;
    max-width: 700px;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
    backdrop-filter: blur(4px) saturate(180%);
}

    .search-bar input,
.search-location input {
    background: transparent !important;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: #cac7ff;
}

::placeholder {
    color: #cac7ff;
}

.search-bar input:-webkit-autofill,
.search-location input:-webkit-autofill,
.search-bar input:-webkit-autofill:hover,
.search-location input:-webkit-autofill:hover,
.search-bar input:-webkit-autofill:focus,
.search-location input:-webkit-autofill:focus {
    -webkit-text-fill-color: #cac7ff;
    -webkit-box-shadow: 0 0 0 0 transparent inset !important; /* Try to force transparency */
    transition: background-color 5000s ease-in-out 0s;
}

.search-bar button img {
    width: 25px;
}

.search-bar button {
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: #286bc7;
    cursor: pointer;
    position: relative; /* Make the button position relative */
    z-index: 2; /* Ensure button stays above other content */
}



@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Suggestions Dropdown Styles */
#suggestions-dropdown {
  position: absolute;
  top: 225%;
  width: calc(100% - 42px);
  max-height: 300px;
  overflow-y: auto;
  background-color: white; /* Darker background color */
  border-radius: 8px;
  border: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); /* Darker shadow */
  z-index: 2;
  display: none;
  cursor: pointer;
  animation: fadeIn 0.3s ease-in-out;
}

.suggestion-item {
  padding: 12px 16px;
  border-bottom: 1px solid #2c2f31; /* Darker border color */
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  font-size: 14px;
  color: #cac7ff; /* Match the header text color */
}

.suggestion-item:last-child {
  border-bottom: none;
}

.suggestion-item:hover, .suggestion-item:focus {
  color: #fff; /* Lighter text color on hover */
    transform: scale(1.02);
}

#loading-bar-container {
  width: 50%;
  background-color: transparent;
  border-radius: 10px;
  height: 20px;
  overflow: hidden;
}

#loading-bar {
  width: 0%;
  height: 100%;
  background-color: #cac7ff;
  background-image: linear-gradient(45deg, #fff 25%, transparent 25%, transparent 50%, #fff 50%, #fff 75%, transparent 75%, transparent);
  background-size: 20px 20px;
  animation: loading-bar-animation 2s linear infinite;
}

@keyframes loading-bar-animation {
  0% { background-position: 0 0; }
  100% { background-position: 40px 0; }
}
