* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.header {
    text-align: center;
    color: #cac7ff;
    position: absolute;
    top: calc(50% - 150px); /* Adjust as needed */
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2; /* Ensure header stays above other content */
}

.container {
    width: 100%;
    min-height: 100vh;
    padding: 5%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(images/background.png);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative; /* Make the container position relative */
}

.search-bar{
    width: 100%;
    max-width: 700px;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
    backdrop-filter: blur(4px) saturate(180%);
}

    .search-bar input,
.search-location input {
    background: transparent !important;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: #cac7ff;
}

::placeholder {
    color: #cac7ff;
}

.search-bar input:-webkit-autofill,
.search-location input:-webkit-autofill,
.search-bar input:-webkit-autofill:hover,
.search-location input:-webkit-autofill:hover,
.search-bar input:-webkit-autofill:focus,
.search-location input:-webkit-autofill:focus {
    -webkit-text-fill-color: #cac7ff;
    -webkit-box-shadow: 0 0 0 0 transparent inset !important; /* Try to force transparency */
    transition: background-color 5000s ease-in-out 0s;
}

.search-bar button img {
    width: 25px;
}

.search-bar button {
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: #286bc7;
    cursor: pointer;
    position: relative; /* Make the button position relative */
    z-index: 2; /* Ensure button stays above other content */
}

.header h1 {
    position: relative;
    z-index: 2; /* Ensure header text stays above other content */
}

.results-container {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
}

.tile {
    background-color: #e0e0e0;
    padding: 15px;
    margin-bottom: 10px;
    border-left: 5px solid #007bff;
}

/* Add responsiveness */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    .favorite-list {
        width: 100%;
        height: auto;
    }
    .results-container {
        padding: 20px 10px;
    }
}

.resultspage-container {
    display: flex;
}

#suggestions-dropdown {
    position: absolute;
    top: 225%;
    width: calc(100% - 42px);
    max-height: 300px;
    overflow-y: auto;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    z-index: 2;
    display: none;
    cursor: pointer;
}

.suggestion-item {
    padding: 10px;
    border-bottom: 1px solid #eee; /* Separates items */
    cursor: pointer; /* Indicates an interactive item */

}

.suggestion-item:last-child {
    border-bottom: none; /* Removes bottom border for the last item */
}

.suggestion-item:hover, .suggestion-item:focus {
    background-color: #f8f8f8; /* Highlights item on hover/focus */
}

